<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type ="image/x-icon "  href="/images/favicon.ico">
    <title>TaskMinder</title>
</head>
<body>
    <%- include("partials/header.ejs") %> 

    
   
    <form action="/ToDo" method="post">
        <h1>Welcome back <%=name%></h1>
    <h2>Manager Dash Board</h2>    
    <label>Choose the User: </label>
    <br>        
   <select name="usersList">
    <% UserList.forEach(function (name){ %>
        <option value ='<%= name%>'><%= name%></option>
        <%  }) %>
   </select>
   <br>
    <input type="text" name = "tasks">
    <button type="submit" id="btnRefresh" name="button">+</button>
    </form>

    <div style="overflow-y: scroll; height:200px; width:400px; border-color: black; border: solid;">
    <% AllTasks.forEach(function (name){ %>
        <input type="checkbox" value ='<%= name%>'><%= name%></input><br>
        <%  }) %>
    </div>
        
    <script>
       var button = document.getElementById('btnRefresh');
button.onclick = function() {
  location.assign('/ToDo');
}
    </script>
    
    <%- include("partials/footer.ejs") %> 
</body>
</html>