<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TaskMinder</title>
</head>
<body>
    <%- include("partials/header.ejs") %> 

    
   
    <form action="/ToDo" method="post">
        <h1>Welcome back <%=name%></h1>
    <h2>Manager Dash Board</h2>    
    <label>Choose the User: </label>
    <br>        
   <select name="usersList">
    <% UserList.forEach(function (name){ %>
        <option value ='<%= name%>'><%= name%></option>
        <%  }) %>
   </select>
   <br>
    <input type="text" name = "tasks">
    <button type="submit" name="button">+</button>
    </form>
    <% AllTasks.forEach(function (name){ %>
        <li value ='<%= name%>'><%= name%></li>
        <%  }) %>
    
    <%- include("partials/footer.ejs") %> 
</body>
</html>